<div class="hd-left">
    <img src=" <%= img%>">
    <div class="user-id">
        <%= id%>
    </div>
</div>
<div class="hd-center">
    <h1><a href="http://13.124.138.224:3000/game">Octodog</a></h1>
</div>
<div class="hd-right">
    <h1><a href="http://13.124.138.224:3000/logout">Logout</a></h1>
</div>